html {
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
}

* { 
    color: antiquewhite;
}

.countdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#countdown {
    font-size: 3em;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
